{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                {% if user.is_authenticated %}
                <h3>We'd love to hear from you on how we can improve our store. Please leave some feedback.</h3>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn_secondary">Add Review</button>
                    </form>
                </div>

                <script>
                    var author = "{{ user.id }}";
                    
                    document.getElementById("deane_feedback").value 
                        = author;
                    
                </script>

                {% else %}
                <h1>Please <a href="{% url 'account_signup' %}" >Create an Account</a> or <a href="{% url 'account_login' %}">Log in</a> to leave Feedback.</h1>
                
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}